.btn {
  all: unset;
  height: fit-content;
  width: fit-content;
  box-sizing: border-box;
  background: var(--dark);
  border-radius: 0.3em;
  padding: 0.5em 0.8em;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  box-shadow: inset 0.1em 0.1em 0.1em rgba(255, 255, 255, 0.5),
    0.1em 0.1em 0.1em black, inset 0 -1em 1em rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  margin-top: 0.5rem;
}

.btn:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

.btn:active {
  transform: scale(1);
}

.btn-ghost {
  background: transparent;
  outline: 2px solid var(--border);
  box-shadow: none;
}

.btn-ghost:hover {
  filter: brightness(0.8);
}

.btn .btn-icon {
  height: 1.25rem;
  aspect-ratio: 1/1;
}

.btn-disabled {
  background-color: #9e9e9e;
  color: #f1f1f1;
  opacity: 0.7;
  cursor: not-allowed;
}

.btn-disabled:hover {
  filter: brightness(1);
  transform: scale(1);
}

.btn-delete {
  background-color: var(--red);
}
