.header {
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid var(--border);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.header .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .logo-text {
  color: var(--light-gray);
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.header .logo {
  height: 2.5rem;
}
