.side-menu {
  padding: 1rem;
  width: 15rem;
  border-right: 1px solid var(--border);
  border-radius: 0.3rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  list-style: none;
}

.side-menu li {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid var(--border);
  border-radius: 0.3rem;
  padding: 0.3rem;
  width: 100%;
}

.side-menu li:hover {
  transform: scale(1.01);
}

.side-menu li.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
}
