.side-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 13rem;
  background-color: var(--dark);
}

.side-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.side-menu li.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid var(--selected);
}

.side-menu li.menu-header {
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
  margin-top: 0.5rem;
  color: var(--dark-gray);
}

.side-menu .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.side-menu .logo-text {
  color: var(--dark-gray);
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.side-menu .logo {
  height: 2rem;
}
