.custom-textarea-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.custom-textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-y: auto;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding-right: 1.8rem;
  resize: none;
}

.custom-textarea:focus {
  outline: 2px solid var(--border);
}

.textarea-buttons-wrapper {
  position: absolute;
  top: 0.7rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.copy-btn,
.expand-btn {
  height: 1.8rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: transform, filter;
}

.expand-btn {
  height: 1.4rem;
}

.copy-btn:hover,
.expand-btn:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}

.copy-btn:active,
.expand-btn:active {
  transform: scale(1);
}
