.app {
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.app-body {
  display: flex;
  flex: 1;
  gap: 1rem;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-header {
  border-bottom: 1px solid var(--border);
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

.section .section-columns {
  display: flex;
  gap: 1rem;
}

label {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  color: var(--light-gray);
  display: flex;
}

input:not([type="checkbox"]),
select {
  margin-bottom: 0.75rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 0.3rem;
  background-color: var(--deep-blue);
  color: white !important;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}

input:focus,
select:focus {
  outline: 2px solid var(--border);
}

textarea {
  background-color: var(--deep-blue);
  border-radius: 0.5rem;
  padding: 0.3rem;
}

.wrapper input {
  flex: 1;
}

.settings {
  width: 20rem;
  display: flex;
  flex-direction: column;
}

.welcome-msg {
  color: var(--light-gray);
}

.rsa-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
