.app {
  min-height: 100vh;
  max-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.app-body {
  display: flex;
  flex: 1;
  gap: 2rem;
  width: 100%;
}

.sha-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sha-section .sha-header {
  border-bottom: 1px solid var(--border);
  border-radius: 0.5rem;
  padding-bottom: 0.2rem;
}

.sha-section .sha-columns {
  display: flex;
  gap: 2rem;
}

label {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  color: var(--light-gray);
}

input,
select {
  margin-bottom: 0.75rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 0.3rem;
  background-color: var(--deep-blue);
  color: white !important;
}

textarea {
  margin-bottom: 0.75rem;
  height: 10rem;
  border-radius: 0.5rem;
  padding-left: 0.3rem;
  margin-right: 0.5rem;
  background-color: var(--deep-blue);
  color: white !important;
}

.wrapper input {
  flex: 1;
}
